// Main
.main{
  display: flex;
  font-family: 'Rubik', sans-serif;
}

// Background
.background{
  background-image: url('/Assets/pattern.jpg');
  background-repeat: repeat;
  padding: 15px;
  height: 100vw;
  width: 100vw;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  .brushBackground{
    background-image: url('/Assets/brush.jpg');
    background-repeat: no-repeat;
    background-size: 25vw;
    margin-top: 130px;
    padding: 15px;
    height: 100vw;
    width: 100vw;
    position: fixed;
    z-index: -9;
    top: 0;
    left: 0;
  }
}

// NavBar
.navbar{
  color: rgb(238, 211, 142);
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(21, 21, 21);
  padding-left: 4vw;
  padding-right: 4vw;
  width: 92vw;
  height: 8vw;
  align-items: center;
  font-size: 2rem;
  z-index: 1;
.container {
  display: inline-block;
  cursor: pointer;
  button{
    display: none;
  }
  a{
    display:none;
  }
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:rgb(238, 211, 142);
  margin: 6px 0;
  transition: 0.4s;
}
  .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);}
  .change .bar2 {opacity:0}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }  
}
.change .bar4 {
  position: absolute;
  height: 100vw;
  margin: 0;
  top: 6vw;
  right: 0;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color:rgb(21, 21, 21);
  button{
    display: inline;
    border: none;
    background-color: rgb(21, 21, 21);
    color: rgb(238, 211, 142);
    font-size: 2rem;
    cursor: pointer;
  }
  a{
    display: inline;
  }
    a:link {
      color: rgb(238, 211, 142);
      text-decoration: none;
    }
    a:visited {
      color: rgb(238, 211, 142);
      text-decoration: none;
  }
}

// Home page
.home{
  margin-top: 15vw;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      font-size: 4em;
    }
      div{
        display: flex;
        align-items: center;
        img{
          height:50px;
          margin-bottom: -15px;
          margin-top: 2vw;
        }
      }
    button{
      width: 20vw;
      border: none;
      color: rgb(238, 211, 142);
      font-size: 1.3rem;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      outline: none;
      width: 300px;
      margin-top: 25px;
      cursor: pointer;
      img{
        position: absolute;
        z-index: -1;
        width: 300px;
      }
    }
  }
}

// Client page
.clientPage{
  margin-top: 9vw;
  margin-left: 10vw;
  height: 100%;
}

.submissionForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stylistPage{
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
}

// Your Stylist Page
.yourStylist{
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .name{
    margin:2vw;
    font-size: 4rem;
  }
  img{
    margin: 2vw;
    max-width: 45vw;
    max-height: 30vw;
    border-radius: 5%;
  }
}
.button{
  width: 20vw;
  border: none;
  color: rgb(238, 211, 142);
  font-size: 1.3rem;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 300px;
  margin-top: 25px;
  cursor: pointer;
  .img{
    position: absolute;
    z-index: -1;
    width: 300px;
    padding-right: 4vw;
  }
}
.phoneNumber{
  -webkit-inner-spin-button{ 
    display: none; 
    margin: 0;}; 
  -webkit-outer-spin-button { 
    display: none; 
    margin: 0; 
  }
}

//Stylist Registration
// .stylistPage{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   form{
//     position: absolute;
//     padding-bottom: 30px;
//     padding-left: 10px;
//     padding-right: 10px;
//     font-size: 2rem;
//     margin: auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between; 
//     label{
//       font-weight: bold;
//       input{
//       width: 100%;
//       font-size: 1em;
//       }
//     }
//     button{
//       margin-left: 8em;
//       margin-top: 40px;
//       width: 20vw;
//       border: none;
//       color: rgb(238, 211, 142);
//       font-size: 1.3rem;
//       background: none;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       outline: none;
//       cursor: pointer;
//       img{
//         position: absolute;
//         z-index: -1;
//         width: 300px;
//       }
//     }
//   }
// }
// .video{
//   margin-top:1vw;
//   z-index:-4;
//   opacity: 0.3;
// }

// Registration
.registration{
  margin-top: 10vw;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  form{
    position: absolute;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    label{
      font-weight: bold;
      input{
      width: 100%;
      font-size: 1em;
      }
    }
    button{
      margin-left: 8em;
      margin-top: 55px;
      width: 20vw;
      border: none;
      color: rgb(238, 211, 142);
      font-size: 1.3rem;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;
      img{
        position: absolute;
        z-index: -1;
        width: 300px;
      }
    }
  }
  .video{
    position: relative;
    bottom: 8vw;
    z-index:-4;
    opacity: 0.3;
  }
}

// Dashboard
.dashboard{
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    max-width: 45vw;
    max-height: 30vw;
    border-radius: 5%;
  }
}

// Modal
.modelSubmit{
    cursor: pointer;
}
.button{
  border: none;
  color: #eed38e;
  font-size: 1.3rem;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
  width: 300px;
  cursor: pointer;
  .img{
    position: absolute;
    z-index: -1;
    width: 300px;
  }
}

.googleMaps {
  margin: auto;
  z-index:-1;
}

#iwc{
  button{
    font-size: 1rem;
    border: none;
    color:rgb(238, 211, 142);
    background-color:rgb(21, 21, 21);
    cursor: pointer
  }
}

.login{
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    label{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    button{
      width: 20vw;
      border: none;
      color: rgb(238, 211, 142);
      font-size: 1.3rem;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      outline: none;
      width: 300px;
      margin-top: 25px;
      cursor: pointer;
      img{
        position: absolute;
        z-index: -1;
        width: 300px;
      }
    }
  }
}