.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Rubik', sans-serif;
}

.background {
  background-image: url("/Assets/pattern.jpg");
  background-repeat: repeat;
  padding: 15px;
  height: 100vw;
  width: 100vw;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.background .brushBackground {
  background-image: url("/Assets/brush.jpg");
  background-repeat: no-repeat;
  background-size: 25vw;
  margin-top: 130px;
  padding: 15px;
  height: 100vw;
  width: 100vw;
  position: fixed;
  z-index: -9;
  top: 0;
  left: 0;
}

.navbar {
  color: #eed38e;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #151515;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 92vw;
  height: 8vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  z-index: 1;
}

.navbar .container {
  display: inline-block;
  cursor: pointer;
}

.navbar .container button {
  display: none;
}

.navbar .container a {
  display: none;
}

.navbar .bar1, .navbar .bar2, .navbar .bar3 {
  width: 35px;
  height: 5px;
  background-color: #eed38e;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.navbar .change .bar2 {
  opacity: 0;
}

.navbar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .bar4 {
  position: absolute;
  height: 100vw;
  margin: 0;
  top: 6vw;
  right: 0;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #151515;
}

.change .bar4 button {
  display: inline;
  border: none;
  background-color: #151515;
  color: #eed38e;
  font-size: 2rem;
  cursor: pointer;
}

.change .bar4 a {
  display: inline;
}

.change .bar4 a:link {
  color: #eed38e;
  text-decoration: none;
}

.change .bar4 a:visited {
  color: #eed38e;
  text-decoration: none;
}

.home {
  margin-top: 15vw;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .summary .title {
  font-size: 4em;
}

.home .summary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .summary div img {
  height: 50px;
  margin-bottom: -15px;
  margin-top: 2vw;
}

.home .summary button {
  width: 20vw;
  border: none;
  color: #eed38e;
  font-size: 1.3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  width: 300px;
  margin-top: 25px;
  cursor: pointer;
}

.home .summary button img {
  position: absolute;
  z-index: -1;
  width: 300px;
}

.clientPage {
  margin-top: 9vw;
  margin-left: 10vw;
  height: 100%;
}

.submissionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stylistPage {
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
}

.yourStylist {
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yourStylist .name {
  margin: 2vw;
  font-size: 4rem;
}

.yourStylist img {
  margin: 2vw;
  max-width: 45vw;
  max-height: 30vw;
  border-radius: 5%;
}

.button {
  width: 20vw;
  border: none;
  color: #eed38e;
  font-size: 1.3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  width: 300px;
  margin-top: 25px;
  cursor: pointer;
}

.button .img {
  position: absolute;
  z-index: -1;
  width: 300px;
  padding-right: 4vw;
}

.phoneNumber -webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.phoneNumber -webkit-outer-spin-button {
  display: none;
  margin: 0;
}

.registration {
  margin-top: 10vw;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration form {
  position: absolute;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration form label {
  font-weight: bold;
}

.registration form label input {
  width: 100%;
  font-size: 1em;
}

.registration form button {
  margin-left: 8em;
  margin-top: 55px;
  width: 20vw;
  border: none;
  color: #eed38e;
  font-size: 1.3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  cursor: pointer;
}

.registration form button img {
  position: absolute;
  z-index: -1;
  width: 300px;
}

.registration .video {
  position: relative;
  bottom: 8vw;
  z-index: -4;
  opacity: 0.3;
}

.dashboard {
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard img {
  max-width: 45vw;
  max-height: 30vw;
  border-radius: 5%;
}

.modelSubmit {
  cursor: pointer;
}

.button {
  border: none;
  color: #eed38e;
  font-size: 1.3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  outline: none;
  width: 300px;
  cursor: pointer;
}

.button .img {
  position: absolute;
  z-index: -1;
  width: 300px;
}

.googleMaps {
  margin: auto;
  z-index: -1;
}

#iwc button {
  font-size: 1rem;
  border: none;
  color: #eed38e;
  background-color: #151515;
  cursor: pointer;
}

.login {
  margin-top: 8vw;
  height: 100%;
  width: 100vw;
}

.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.login form label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.login form button {
  width: 20vw;
  border: none;
  color: #eed38e;
  font-size: 1.3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  width: 300px;
  margin-top: 25px;
  cursor: pointer;
}

.login form button img {
  position: absolute;
  z-index: -1;
  width: 300px;
}
/*# sourceMappingURL=App.css.map */